#video1 {
  width: 49%;
  float: left;
}

#video2 {
  float: right;
  width: 49%;
}

#vids {
  width: 90%;
  margin: auto;
}

body {
  background: #1d2127;
  color: white
}

button {
  width: 45%;  
  height: 45;
  font: bold;
  font-size: 23;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.buttonsDiv {
    margin: auto;
    width: 30%;
    padding-top: 10px;
}