#video {
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

body {
  background: #1d2127;
  color: white
}

button {
  width: 49%;  
  height: 45;
  font: bold;
  font-size: 23;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.buttonsDiv {
    margin: auto;
    width: 30%;
    padding-top: 10px;
}